$color--white: hsl(0, 0%, 100%);
$color--lightgray: hsl(212, 45%, 89%);
$color--grayish_blue: hsl(220, 15%, 55%);
$color--dark_blue: hsl(218, 44%, 22%);

$ff-outfit: 'Outfit', sans-serif;

$fsz-para: 15px;

$fw-normal: 400;
$fw-bold: 700;
